.cart-products {
    display: grid;
    grid-template: 1fr 1fr / 6fr 1fr;
    row-gap: 0.5vh;

    padding-bottom: 2vh;
    margin-bottom: 2.5vh;

    border-bottom: 2px solid #dfdfdf;

    .product-title {
        font-family: "RedHat-SemiBold";
        font-size: 2vh;
    }

    .product-icon {
        border: 1px solid #afafaf;
        border-radius: 50px;

        padding: 0 0.3vw;
        margin-left: auto;

        cursor: pointer;

        &:hover {
            border: 1px solid #000000;
        }

        .product-delete {
            width: 0.65vw;
            height: 1.5vh;
        }
    }

    .product-wrapper {
        display: flex;
        flex-direction: row;
        column-gap: 0.8vw;

        font-family: "RedHat-SemiBold";
        font-size: 2vh;

        .product-quantity {
            color: rgb(211, 46, 46);
        }

        .product-price {
            color: rgb(100, 100, 100);
        }

        .product-allprice {
            font-size: 2.1vh;
        }
    }
}